<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="no-js">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157725698-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag("js", new Date());

    gtag("config", "UA-157725698-1");
  </script>

  <title>Oleksii Honchar Full cycle Software Engineer Personal Page</title>
  <meta name="title" content="Oleksii Honchar Full cycle Software Engineer Personal Page">
  <meta name="description" content="On this personal page you can find detailed description of my software engineering path, past work experience, my expertise and toolset.">
  <meta name="keywords" content="Web application, Software development, Software Architecture, Typescript, JavaScript, Angular-js, React-js, Node-js, Single Page Application, Software engineer, Application Architecture, Technology Lead, Senior Staff Engineer, Frontend, Backend, Frontend Framework, Enterprise solutions, Agile Software Development, Team Lead, Frontend Architect">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta charset="UTF-8">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://oleksiihonchar.com/">
  <meta property="og:title" content="Oleksii Honchar Full cycle Software Engineer Personal Page">
  <meta property="og:description" content="On this personal page you can find detailed description of my software engineering path, past work experience, my expertise and toolset.">
  <meta property="og:image" content="https://oleksiihonchar.com/images/poster-og.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://oleksiihonchar.com/">
  <meta property="twitter:title" content="Oleksii Honchar Full cycle Software Engineer Personal Page">
  <meta property="twitter:description" content="On this personal page you can find detailed description of my software engineering path, past work experience, my expertise and toolset.">
  <meta property="twitter:image" content="https://oleksiihonchar.com/images/poster-og.jpg">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <base href="./">

  <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
  <link rel="manifest" href="favicons/manifest.json">
  <link rel="shortcut icon" href="favicons/favicon.ico">

  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  >
  <link href="stylesheets/index.css" rel="stylesheet" />

  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"
  ></script>

  <script src="scripts/safari-nomodule.js"></script>

  <script nomodule src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.includes"></script>

  <script crossorigin src="https://unpkg.com/react@16/umd/react.{{scriptEnvSuffix}}.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.{{scriptEnvSuffix}}.js"></script>
  <script crossorigin src="https://unpkg.com/moment@2.24.0"></script>
  <script crossorigin src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
  <script crossorigin src="https://unpkg.com/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="app-root"></div>
  <script type="module" src="app.bundle.mjs"></script>
  <script nomodule src="app.bundle.es2016.js"></script>
  <script>
    $(".navbar-nav .nav-item").on("click", function(){
      $(".navbar-collapse").collapse("hide");
    });
    $(".navbar-brand").on("click", function(){
      $(".navbar-collapse").collapse("hide");
    });
  </script>
</body>
</html>