@import "reset.css";

html {
  font-size: calc(15px + 0.390625vw);
}

body {
  font-family: 'Helvetica Neue', sans-serif !important;
}

section:before {
  display: block;
  height: 65px;
  margin-top: -65px;
  visibility: hidden;
  content: "";
}

table,
tr,
td {
  border: none !important;
}
